[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
tensorflow-gpu = "*"
pandas = "*"
verstack = "*"
gensim = "*"
numpy = "*"
torch = "*"
simpletransformers = "*"
pandarallel = "*"
tables = "*"
wandb = "*"
keras = "*"
matplotlib = "*"
django = "*"
deepctr = "*"
textblob = "*"

[dev-packages]

[requires]
python_version = "3.7"
