[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
tensorflow-gpu = "*"
pandas = "*"
verstack = "*"

[dev-packages]

[requires]
python_version = "3.7"
